*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #f9f9f9;
  color: #222;
  overflow-y: hiden;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: #222;
  border-bottom: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 70px;
}

.logo{
  margin-left: 20px;
}

.logo img{
  width: 70px;
  height: 0 auto;
}

nav{
  margin-right: 20px;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1.2rem;
}

nav a:hover{
  color: #e48e00;
}

.container{
  display: flex;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}

/*Lista de produtos*/
.produtos-disp{
  width: 45%;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  max-height: 80vh;
}

.produtos-disp h2{
  margin-bottom: 1rem;
  color: #e48e00;
}

#busca-venda{
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  outline: none;
}

.lista-produtos-disp{
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-left: 6px solid #ccc;
  border-radius: 4px;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: background 0.3s;
}

.lista-produtos-disp:hover{
  background-color: #f0f0f0;
}

#msg-sem-produto{
  display: none;
  color: #444;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.produto-venda{
  margin-bottom: 10px;
  padding-left: 5px;
  cursor: pointer;
}

.produto-venda:hover{
  background-color: #ccc;
}

/*form de vendas*/
.container-form-venda {
  width: 50%;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.container-form-venda h2 {
  margin-bottom: 1rem;
  color: #e48e00;
}

.container-form-venda label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

.container-form-venda input {
  width: 100%;
  padding: 0.4rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.container-form-venda input:focus {
  border: 2px solid #e48e00;
  box-shadow: 0 0 5px #e48e00;
}

.container-form-venda button {
  margin-top: 1rem;
  padding: 0.6rem;
  width: 100%;
  background-color: #e48e00;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.container-form-venda button:hover {
  background-color: #cc7d00;
}

/* Display do valor */
.display-valorTotal  {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f0f0f0;
  border-left: 5px solid #e48e00;
  font-weight: bold;
  color: #222;
  transition: all 0.3s ease;
}